<mat-dialog-content class="mat-typography">
    <h4>BAZA ZNANJA</h4>
    <span class="material-icons">admin_panel_settings</span>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
          </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="true" color="primary">Login</button>
</mat-dialog-actions>