<h1>Wellcome</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam voluptate est accusantium, commodi, facilis provident fugiat sunt non maiores porro nihil eligendi animi harum voluptatum possimus laborum numquam, omnis beatae? Quibusdam aliquam, quos temporibus reprehenderit ullam, eligendi laborum praesentium quas cupiditate nemo maxime explicabo, consequuntur corrupti iste aperiam ea!
</p>

<h2>Description</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam voluptate est accusantium, commodi, facilis provident fugiat sunt non maiores porro nihil eligendi animi harum voluptatum possimus laborum numquam, omnis beatae? Quibusdam aliquam, quos temporibus reprehenderit ullam, eligendi laborum praesentium quas cupiditate nemo maxime explicabo, consequuntur corrupti iste aperiam ea!
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam voluptate est accusantium, commodi, facilis provident fugiat sunt non maiores porro nihil eligendi animi harum voluptatum possimus laborum numquam, omnis beatae? Quibusdam aliquam, quos temporibus reprehenderit ullam, eligendi laborum praesentium quas cupiditate nemo maxime explicabo, consequuntur corrupti iste aperiam ea!
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam voluptate est accusantium, commodi, facilis provident fugiat sunt non maiores porro nihil eligendi animi harum voluptatum possimus laborum numquam, omnis beatae? Quibusdam aliquam, quos temporibus reprehenderit ullam, eligendi laborum praesentium quas cupiditate nemo maxime explicabo, consequuntur corrupti iste aperiam ea!
</p>


<h3>Recent changes</h3>

<ul>
    <li><a href="#">Check lists (1)</a></li>
    <li><a href="#">Databases (2)</a></li>
    <li><a href="#">Service layer (0)</a></li>
    <li><a href="#">User interface (0)</a></li>
    <li><a href="#">Workflow (9)</a></li>
</ul>



<h2>News</h2>

<div class="news-cards">
    <button mat-button><mat-icon>arrow_back_ios</mat-icon></button>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>More</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>More</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>More</button>
        </mat-card-actions>
    </mat-card>

    <button mat-button><mat-icon>arrow_forward_ios</mat-icon></button>
</div>
