

.example-card {
    max-width: 240px;
    margin: 16px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.news-cards {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
}