<h1>Material Desing Module</h1>
<p>
   Module for implementing Material Design
</p>    
<h2>Use case</h2>
<p>
    Applications that use Material Design
</p>
<h3>Solution</h3>
<p>
    Create material.module.ts in the root app folder
</p>  
<p>
    Add imports, and add named modules to imports and exports of @NgModule
</p>  
<div class="code">
    <p>import &#123; NgModule &#125; from &apos;@angular/core&apos;;</p>
    <p>import &#123; CommonModule &#125; from &apos;@angular/common&apos;;</p>
    <p>import &#123; MatButtonModule &#125; from &apos;@angular/material/button&apos;;</p>
    <p>import &#123; MatDividerModule &#125; from &apos;@angular/material/divider&apos;;</p>
    <p>import &#123; MatToolbarModule &#125; from &apos;@angular/material/toolbar&apos;;</p>
    <p>import &#123; MatIconModule &#125; from &apos;@angular/material/icon&apos;;</p>
    <p>import &#123; MatInputModule &#125; from &apos;@angular/material/input&apos;;</p>
    <p>import &#123; MatFormFieldModule &#125; from &apos;@angular/material/form-field&apos;;</p>
    <p>import &#123; MatDatepickerModule &#125; from &apos;@angular/material/datepicker&apos;;</p>
    <p>import &#123; MatNativeDateModule &#125; from &apos;@angular/material/core&apos;;</p>
    <p>import &#123; MatCheckboxModule &#125; from &apos;@angular/material/checkbox&apos;;</p>
    <p>import &#123; MatSidenavModule &#125; from &apos;@angular/material/sidenav&apos;;</p>
    <p>import &#123; MatListModule &#125; from &apos;@angular/material/list&apos;;</p>
    <p>import &#123; MatTabsModule &#125; from &apos;@angular/material/tabs&apos;;</p>
    <p>import &#123; MatCardModule &#125; from &apos;@angular/material/card&apos;;</p>
    <p>import &#123; MatSelectModule &#125; from &apos;@angular/material/select&apos;;</p>
    <p>import &#123; MatProgressBarModule &#125; from &apos;@angular/material/progress-bar&apos;;</p>
    <p>import &#123; MatProgressSpinnerModule &#125; from &apos;@angular/material/progress-spinner&apos;;</p>
    <p>import &#123; MatDialogModule &#125; from &apos;@angular/material/dialog&apos;;</p>
    <p>import &#123; MatTableModule &#125; from &apos;@angular/material/table&apos;;</p>
    <p>import &#123; MatSortModule &#125; from &apos;@angular/material/sort&apos;;</p>
    <p>import &#123; MatPaginatorModule &#125; from &apos;@angular/material/paginator&apos;;</p>
    <p>import &#123; MatMenuModule &#125; from &apos;@angular/material/menu&apos;;</p>
    <p>import &#123; MatTreeModule &#125; from &apos;@angular/material/tree&apos;;</p>
</div>
