<h2>User Interface</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eum modi odit voluptatem aliquam ullam laudantium, praesentium necessitatibus non commodi ipsam numquam nesciunt est ipsum et quisquam placeat. A autem ad similique earum molestiae mollitia soluta vero pariatur quisquam. Excepturi rem dolores, beatae voluptatem quae delectus fugiat quaerat, reprehenderit odit, earum adipisci neque eligendi ad accusantium debitis quos ea id non reiciendis vel aliquam! Distinctio enim odit voluptatibus suscipit natus! Dicta, voluptatum! Maiores laborum ad optio ratione quia omnis incidunt labore perferendis dolorem eveniet dignissimos, cumque dolores ducimus illo ipsa doloribus, perspiciatis, nemo ipsam eius ipsum iusto? Velit, a hic!
</p>    
<h3>Check list</h3>   
<section class="selection">
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
    <mat-checkbox>placeholder</mat-checkbox>
</section>