.container {
    margin: 0 auto;
    padding-top: 7vh;
    display: flex;
    flex-direction: row;
    min-height: 92vh;
    max-width: 1600px;

    .sidebar {
        min-width: 320px;
    }

    .content {
        padding: 12px 36px 12px 12px;
    }
}